vti_encoding:SR|utf8-nl
vti_author:SR|painterlin_NB\\painterlin
vti_modifiedby:SR|painterlin_NB\\painterlin
vti_timelastmodified:TR|17 Feb 2011 03:14:12 -0000
vti_timecreated:TR|17 Feb 2011 03:14:12 -0000
vti_cacheddtm:TX|17 Feb 2011 03:14:12 -0000
vti_filesize:IR|3293
vti_cachedlinkinfo:VX|S|images/wood_bg.jpg S|images/top_temp.png S|images/left_temp.png S|images/right_header.png S|images/right_footer.png S|images/center.png S|images/btn_section.jpg S|images/btn_section_o.jpg S|images/btn_section_o.jpg S|images/btn_section_o.jpg
vti_cachedsvcrellinks:VX|NSUS|css/images/wood_bg.jpg NSUS|css/images/top_temp.png NSUS|css/images/left_temp.png NSUS|css/images/right_header.png NSUS|css/images/right_footer.png NSUS|css/images/center.png NSUS|css/images/btn_section.jpg NSUS|css/images/btn_section_o.jpg NSUS|css/images/btn_section_o.jpg NSUS|css/images/btn_section_o.jpg
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|
