vti_encoding:SR|utf8-nl
vti_author:SR|painterlin_NB\\painterlin
vti_modifiedby:SR|painterlin_NB\\painterlin
vti_timelastmodified:TR|17 Feb 2011 13:05:28 -0000
vti_timecreated:TR|17 Feb 2011 02:54:29 -0000
vti_extenderversion:SR|6.0.2.8161
vti_nexttolasttimemodified:TW|17 Feb 2011 13:04:54 -0000
vti_backlinkinfo:VX|GroupItem/popup_addSkuList.htm GroupItem/popup_addCloseCondition.htm
vti_cacheddtm:TX|17 Feb 2011 13:05:28 -0000
vti_filesize:IR|6058
vti_cachedlinkinfo:VX|S|../images/logo.gif S|../images/vmenuarrow2.gif S|../images/bgcode.gif S|../images/li-02.gif S|../images/vmenuarrow.gif S|../images/vmenuarrowhover.gif S|../images/li.gif S|../images/bg_td4.gif S|../images/bgcode.gif S|../images/liadmin.gif S|../images/formbg.gif S|../images/search001.gif
vti_cachedsvcrellinks:VX|FSUS|images/logo.gif FSUS|images/vmenuarrow2.gif FSUS|images/bgcode.gif NSUS|images/li-02.gif FSUS|images/vmenuarrow.gif FSUS|images/vmenuarrowhover.gif FSUS|images/li.gif FSUS|images/bg_td4.gif FSUS|images/bgcode.gif FSUS|images/liadmin.gif FSUS|images/formbg.gif FSUS|images/search001.gif
