@charset "utf-8";

/* Erik Meyer's CSS Reset */

html, body, div, span, applet, object, iframe, caption, tbody, tfoot, thead, 

del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,    

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,    

dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baselinebaseline;
	font-family: inherit;
	font-weight: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	color:#777777;
	font-size:12px;
}    

/* remember to define focus styles! */  

:focus {    

outline: 0;    

}    

body {  
  

line-height: 1;    

/*color: black;  */   

}    

ol, ul {    

list-style: none;    

}    

caption, th, td {
	font-weight: normal;

}    

/* remove possible quote marks (") from <q> & <blockquote> */  

blockquote:before, blockquote:after, q:before, q:after {    

content: "";  

}  

blockquote, q {  

quotes: "" "";    

}    

/* end of Erik Meyer's CSS Reset */
	